* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100%;
  height: 100vh;
}
main {
  display: flex;
  height: calc(100% - 70px);
  background-color: grey;
  overflow-y: hidden;
}
/* ----------ASIDE---------- */
aside {
  width: 150px;
  position: relative;
  padding: 20px;
  flex-direction: column;
  background-color: #000000;
  overflow-y: hidden;
  color: #FFFFFF;
}
.nav img {
  width: 115px;
}
.nav {
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.user_profile {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000000;
}
/* ----------/ASIDE---------- */
/* ----------SECTION---------- */
section {
  width: calc(100% - 150px);
  padding: 20px;
  background-color: orange;
  overflow-y: scroll;
  margin-top: 70px;
}
.CTA {
  height: 70px;
  width: calc(100% - 150px);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 150px;
  padding-right: 35px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
/* ----------/SECTION---------- */
/* ----------FOOTER---------- */
footer {
  width: 100%;
  height: 70px;
  background-color: #222326;
}
/* ----------/FOOTER---------- */
