* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
}
.wrapper {
  width: 100%;
  height: 100vh;
}
main {
  display: flex;
  height: calc(100% - 70px);
  background-color: grey;
  overflow-y: hidden;
}
/* ----------HOVER---------- */
.pages ul li:hover ,
 .top_menu a:hover ,
 #new_playlist:hover,
 #playlists a:hover ,
 .user_profile_top a:hover ,
 .saves i:hover {
  color: #FFFFFF;
}
.left span:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
.time:hover .light_grey,
.right:hover .light_grey{
  background: green;
}
.time:hover  .bar_time_btn,
.right:hover .bar_time_btn {
display: block;
}

/* ----------/HOVER---------- */
/* ----------ASIDE---------- */
aside {
  width: 180px;
  height: 100%;
  padding: 15px;
  height: 100%;
  background-color:  #000000;
  overflow-y: hidden;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
aside a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
}
aside i {
  font-size: 18px;
  padding-right: 10px;
}
.top {
  display: flex;
   flex-direction: column;
   width: 100%;
   height: calc(100% - 70px);
}
.top_menu a {
  padding: 5px 0 ;
  color: #797B80;
}
.top_logo img {
  width: 115px;
}
.top_playlist, .top_menu {
  padding: 10px 0;
}
.top_playlist h3 {
  padding-bottom: 5px;
  text-transform: uppercase;
}
.top_playlist ul {
  padding: 10px 0;
  list-style: none;
}
.top_playlist li {
  height: 30px;
  line-height: 30px;
}
#playlists a , #new_playlist {
  color: #797B80;
}
#new_playlist i {
  font-size: 30px;
}
.bottom {
  width: 100%;
}
.bottom a{
  color: #797B80;
}
.user_profile_top, .user_profile_bottom {
  padding: 5px 0;
}
.user_profile_top {
  border-bottom: 1px solid #FFFFFF;
}
.user_profile_top i {
  font-size: 10px;
}
.user_profile_bottom span{
  color: #FFFFFF;
}
/* ----------/ASIDE---------- */

/* ----------SECTION---------- */
section {
  width: calc(100% - 180px);
  padding: 90px 20px 20px 20px;
  background-color: #181818;
  overflow-y: scroll;
}
.CTA {
  height: 70px;
  width: calc(100% - 180px);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 180px;
  padding-right: 35px;
  text-transform: uppercase;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}
.CTA span {
  padding: 10px;
  border: 1px solid white;
  border-radius: 30px;
}
.CTA span:hover {
  padding: 17px;
  font-size: 1.3
}
.pages ul {
  height: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pages ul li {
  margin: 0 15px;
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #797B80;
  cursor: pointer;
}
.albums, #creation, #artists{
  display: flex;
}
.cover {
  width: calc(100% / 6);
  padding: 15px 15px 0 0 ;
}
.cover img {
  width: 100%;
}
.cover_round img {
  width: 100%;
  border-radius: 50%;
}
figcaption {
  text-align: center;
}
h2 {
  padding: 15px 0 10px 0;
}
h5 {
  color: #797B80;
}
/* ----------/SECTION---------- */

/* ----------FOOTER---------- */
footer {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #222326;
}
.left {
  height: 100%;
  width: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left img {
  width: 17%;
}
.left span {
  color: #797B80;
}
.name {
  width: 45%;
}
.saves {
  height: 100%;
  display: flex;
  align-items: center;
}
.song {
  height: 100%;
  width: 40%;
}
.saves i {
  display: inline-block;
  padding: 0 5px;
  font-size: 13px;
  color: #797B80;
}
.control_btn {
  height: 55%;
  width: 40%;
  margin-left: 30%;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.control_btn i {
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}
.control_btn i:nth-of-type(3){
  display: inline-block;
  font-size: 30px;
}
.time {
  height: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bar_time {
position: relative;
width: 100%;
margin: 0 20px;
}
.bar_time .grey {
  height: 4px;
  width: 100%;
  border-radius: 4px;
  background: #777;
}
.bar_time .light_grey {
  height: 4px;
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 4px;
  background: #bbb;
  position: absolute;
  top: 0; left: 0;
}
 .bar_time_btn  {
  display: none;
}
.bar_time_btn {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: #FFFFFF;
}
.right {
  height: 100%;
  width: 180px;
  padding-right: 10px;
  display:flex;
  align-items: center;
}
.right i {
  display: inline-block;
  padding: 0 8px;
  font-size: 13px;
  cursor: pointer;
}
.bar_volume {
  position: relative;
  width: 100%;
}
.bar_volume .grey {
  height: 4px;
  width: 100%;
  border-radius: 4px;
  background: #777;
}
.bar_volume .light_grey {
  height: 4px;
  width: 35%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 4px;
  background: #bbb;
  position: absolute;
  top: 0; left: 0;
}
/* ----------/FOOTER---------- */
