* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100%;
  height: 100vh;
}
main {
  display: flex;
  height: calc(100% - 70px);
  background-color: grey;
  overflow-y: hidden;
}
/* ----------ASIDE---------- */
aside {
  width: 180px;
  position: relative;
  padding: 15px;
  flex-direction: column;
  background-color: #000000;
  overflow: hidden;
  color: #FFFFFF;
}
.nav img {
  width: 115px;
}
.nav {
  position: absolute;
  height: 70%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.user_profile {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  background-color: #000000;
}
/* ----------/ASIDE---------- */
/* ----------SECTION---------- */
section {
  width: calc(100% - 180px);
  padding: 70px 20px 20px 20px;
  background-color: #181818;
  color: #FFFFFF;
  overflow-y: scroll;
}
.CTA {
  height: 70px;
  width: calc(100% - 180px);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 180px;
  padding-right: 35px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.pages ul {
  height: 40px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pages ul li {
  margin: 0 15px;
  list-style: none;
  text-transform: uppercase;
}
/* ----------/SECTION---------- */
/* ----------FOOTER---------- */
footer {
  width: 100%;
  height: 70px;
  background-color: #222326;
}
/* ----------/FOOTER---------- */
